body {
    font-family: Arial, sans-serif;
    background-color: #e4e4e4;
    margin: 0;
    padding: 0;
    text-align: center;

    background-image: url('https://yuji0507.github.io/.github.io/IMG20240501122057.jpg');
    background-size: cover; /* 画像をウィンドウ全体にフィットさせる */
    background-position: center; /* 画像を中央に配置する */
}

/* 背景に透明なオーバーレイを追加 */
body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4); /* 白色の透明度を調整 */
    z-index: -1; /* 背景よりも後ろに配置 */
}

header {
    background-color: rgba(0, 0, 0, 0.4); /* ヘッダーの背景色を設定 */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    color: #dddd;
    font-size: 28px;
}

.photo-frame {
    border: 10px solid #fff; /* 白い枠線 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 影 */
    padding: 10px; /* 枠線からの余白 */
    display: inline-block; /* 要素をインラインブロック要素として配置 */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    /* 写真には影響を与えないようにする */
    opacity: 1; /* 透明度を元に戻す */
}

p {
    margin-bottom: 20px;
}

.author {
    font-style: italic;
}

footer {
    background-color: rgba(255, 255, 255, 0.3); /* フッターの背景色を設定 */
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4); /* 白色の透明度を調整 */
    z-index: -1; /* 背景よりも後ろに配置 */
}